body {
    text-align: center;
}

.thumbnailPhoto {
    height: 200px;
    display: block;
    margin: auto;
    width: 200px;
}

.container {
    display: flex;
    flex-direction: column;
}

#center-row {
    margin: auto;
}